<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Checkers_Game.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="DisplayCaseInformation" value="false"/>
    <add key="DisplayPawInformation" value="false"/>
  </appSettings>
  <userSettings>
    <Checkers_Game.Properties.Settings>
      <setting name="WhitesPlayerName" serializeAs="String">
        <value>Player 1</value>
      </setting>
      <setting name="BlacksPlayerName" serializeAs="String">
        <value>Player 2</value>
      </setting>
    </Checkers_Game.Properties.Settings>
  </userSettings>
</configuration>
